
    <h1>About Us</h1>
    <p>Hoya Recipe is a student run resource for Georgetown University MBA students to share their favorite recipes. Contact Kirby Horvitz at kth49@georgetown.edu if you would like to submit a recipe! </p>
