<h2>Recipe Search Results</h2>

<p>Here are your recipe search results!</p>

<!---Camden Gilliam helped set up title for first card--->
<div>

<% for(var i=0; i< data.results.length; i++) { %>
            <div class='col'>
            <div class='card mt-5'>
                <div class="card-body">
                <p class="card-text"><%= data.results[i].title %></p>
                </div>
            </div>
            </div>
        <% } %>
        
</div>


<script type="text/javascript">

    console.log("RECIPES")

    // use data from the router!
    var recipeData = "<%- data %>"
    console.log(recipeData)

</script>

