<div id="chart-container" height="700px">
</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">

    console.log("RECIPES")

    // use data from the router!
    var recipeData = JSON.parse('<%- data %>')
    console.log(recipeData)
</script>